.card-wrapper{
  height:auto;
  width: 300px;
  background-color: black;
  color:white;
  border-radius: 16px;
}

.card-img > img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 15vh;
  object-fit: cover;
  border-bottom: 2px solid white;
}

.card-body{
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-title{
  font-family:'Big Shoulders Text';
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.event-description, .venue, .date{
  text-align: center;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.venue-date{
  padding-bottom: 10px;
}
.venue, .date{
  -webkit-line-clamp: 1;
}

.card-footer{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.register{
  display:flex;
  gap: 5px;
}
