.event-wrapper{
  margin: 40px auto;
  background-color: black;
  width: 400px;
  height: auto;
  border-radius: 16px;
  color:white;
}

.event-img > img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-bottom: 2px solid white;
}

.ep-event-body{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ep-event-title{
  font-family:'Big Shoulders Text';
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.ep-event-description, .ep-venue, .ep-date{
  text-align: center;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.ep-venue-date{
  padding-bottom: 10px;
}
.ep-venue, .ep-date{
  -webkit-line-clamp: 1;
}

.ep-card-footer{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.ep-register-seats{
  display:flex;
  gap: 5px;
}

.ep-register-seats {
  color: #A0F3AD;
}

.ep-bookmark > i{
  color: #EA8282;
  font-size: x-large;
}

.register-button{
  text-align: center;
  font-weight: bold;
  background-color: white;
  width: 35%;
  font-size: large;
  font-family: 'Sofia Sans';
  border-radius: 5px;
  border: none;
  margin: 5px 35% 15px 35%;
}